<div class="text-center mb-4">
  <img class="mb-4 rounded-circle" src="assets/map-icon-225x225.png" alt="logo" loading="lazy" width="180"
    height="180" />
  <h1 class="h3 mb-3">TMT Map</h1>
</div>

<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="container-fluid">
    <h2 class="text-center">Đăng nhập tài khoản
    </h2>
    <div *ngIf=" invalidLogin" class="alert alert-danger">Invalid username or password.
    </div>
    <br />
    <label for="username" class="sr-only">User Name</label>
    <input type="email" id="username" name="username" ngModel class="form-control" placeholder="User Name" required
      autofocus>
    <br />
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
    <br />

    <div class="text-center">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
    </div>
  </div>
</form>

<!-- <form class="form-signin" (ngSubmit)="login()">
  <div class="form-label-group">
    <input type="text" id="userName" name="username" [(ngModel)]="username" class="form-control" placeholder="Username"
      required autofocus />
    <label for="userName">Username</label>
  </div>
  <div class="form-label-group">
    <input type="password" id="inputPassword" name="password" [(ngModel)]="password" class="form-control"
      placeholder="Password" required />
    <label for="inputPassword">Password</label>
  </div>

  <div class="checkbox mb-3 text-danger" *ngIf="loginError">
    Login failed. Please try again.
  </div>
  <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="busy">
    Sign in
  </button>
</form> -->
<!-- <div class="small text-secondary mt-3 d-none d-sm-flex">
    <strong>Example logins:</strong>
    <ul>
      <li>admin: securePassword</li>
      <li>test1: password1</li>
      <li>test2: password2</li>
    </ul>
  </div> -->
