<h1>My About</h1>
<div *ngFor="let address of addresses; let i = index">
    <div *ngIf="i % 2 == 0" class="row mt-3">
        <div class="col-sm-6" *ngIf="i  < addresses.length">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{addresses[i].name}}</h5>
                    <p class="card-text">{{addresses[i].houseName}}</p>
                    <p class="card-text">{{addresses[i].city}}, {{addresses[i].state}}</p>
                    <a class="btn btn-primary">Pin - {{addresses[i].pin}}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" *ngIf="i + 1 < addresses.length">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{addresses[i+1].name}}</h5>
                    <p class="card-text">{{addresses[i+1].houseName}}</p>
                    <p class="card-text">{{addresses[i+1].city}}, {{addresses[i].state}}</p>
                    <a class="btn btn-primary">Pin - {{addresses[i+1].pin}}</a>
                </div>
            </div>
        </div>
    </div>
</div>